* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #100c08;
  font-size: 17px;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  max-width: 100%;
}

#root {
  padding: 100px 0;
}

.container {
  max-width: 968px;
  padding: 0 100px;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.list-item:last-child {
  margin-bottom: none;
}